/* variables */
:root {
    --main-color-princ: #16a34a;
    --clear-color-princ: #22c55e;
    --dark-color-princ: #15803d;

    --main-color-alt: #2563eb;
    --clear-color-alt: #3b82f6;
    --dark-color-alt: #1d4ed8;

    --text-font-family: Ubuntu, sans-serif;
    --title-font-family: Montserrat, sans-serif;
    --title-font-weight: 600;
}


/* THEMES */
/* MAIN */
div.main_theme {
    background-color: var(--main-color-princ);
}

div.circle1.main_theme:hover {
    background-color: var(--clear-color-princ);
}

img.profil_img.main_theme {
    border:2px solid var(--main-color-princ);
}

section.contact input.form_btn.main_theme {
    background-color: var(--main-color-princ);
}

section.contact input.form_btn.main_theme:hover {
    background-color: var(--dark-color-princ);
}

footer.main_theme {
    background-color: var(--main-color-princ);
}

h2.main_theme {
    text-decoration: underline dotted var(--main-color-princ) 2px;
    text-underline-offset: 8px;
}


/* ALT */
div.alt_theme {
    background-color: var(--main-color-alt);
}

div.circle2.alt_theme:hover {
    background-color: var(--clear-color-alt);
}

img.profil_img.alt_theme {
    border:2px solid var(--main-color-alt);
}

section.contact input.form_btn.alt_theme {
    background-color: var(--main-color-alt);
}

section.contact input.form_btn.alt_theme:hover {
    background-color: var(--dark-color-alt);
}

footer.alt_theme {
    background-color: var(--main-color-alt);
}

h2.alt_theme {
    text-decoration: underline dotted var(--main-color-alt) 2px;
    text-underline-offset: 8px;
}





/* my styles */

* {
    box-sizing: border-box;
}

body {
    font-family: var(--text-font-family);
}

h1, h2 {
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);
}

h1 {
    color: white;
    font-size: 1.5rem;
}

h2 {
    font-size: 1.5rem;
    margin: 20px;
}



/* HEADER */
header {
    height: 200px;
    display: flex;
    flex-direction: column;
}

div.header_container1 {
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

div.header_container2 {
    height: 75%;

}

div.header_circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

div.header_container_circles {
    display: flex;
    align-items: center;
    gap: 5px;
}

div.header_container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.header_container2 hr {
    border-top: 1px solid white;
    width: 25%;
}



/* MAIN */
main {
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

div.main_container {
    width: 80%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

/* PROFIL */
section.profil {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

section.profil h2 {
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

img.profil_img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: right;
}


/* SKILLS */
section.skills {
    height: 40%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

section.skills nav {
    padding: 40px;
}

section.skills h2 {
    height: 50px;
    display: inline-flex;
    justify-content: center;
}

section.skills ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

img.skill_img {
    width: 80px;
    height: 80px;
}

img.skill_img:hover {
    transform: rotate(20deg);
    transition: transform 1s;
}


/* CONTACT */
section.contact {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.contact h2 {
    width: 100%;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

section.contact form {
    width: 75%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
}

section.contact div {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

section.contact input, section.contact textarea {
    background-color: rgb(241, 245, 250);
    border: none;
    height: 30px;
    border-radius: 5px;
}

section.contact textarea {
    height: 70px;
}

section.contact input.form_btn {
    height: 40px;
    width: 80px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

div#warning {
    color: crimson;
}

div#submitted {
    color: rgb(31, 181, 31);
}


/* FOOTER */
footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

footer p {
    color: white;
}



/* ECRANS DE 750PX MINIMUM */
@media (min-width:750px) {
    /* HEADER */
    div.header_container1 {
        justify-content: space-evenly;
    }

    /* MAIN */
    main {
        height: 1300px;
    }

    div.main_container {
        width: 55%;
        height: 580px;
    }

    /* PROFIL */
    section.profil {
        height: 60%;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    section.profil h2 {
        width: 100%;
    }

    section.profil div.div_img, section.profil p {
        width: 40%;
    }



    /* SKILLS */
    section.skills {
        width: 100%;
        height: 30%;
    }


    /* CONTACT */
    section.contact {
        width: 55%;
    }

    section.contact form {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    section.contact div.half {
        width: 49%;
    }

    section.contact div.full {
        width: 100%;
    }

    
}